<div class="jumbotron">
  <div class="container-fluid">
    <h1 class="display-4">Jaycee Griffith</h1>
    <p class="lead"> - Full stack developer/game developer.</p>
    <p>Check out the chat feature below for a unique way of using this website.<i><a href="https://openai.com" target="_blank">Powered by OpenAI</a></i></p>
    <p><i>This website is in the development phase.</i></p>
  </div>
  <div class="container-fluid">
    <h1 class="display-4">How do I...</h1>
    <div class="row">
      <div class="lead">
        <h2>Servers</h2>
      </div>
      <div class="row">
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('What servers are there?')">What servers are there</a></div>
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('Can you start a server?', 'none')">Start a server</a></div>
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('Can you stop a server?', 'none')">Stop a server</a></div>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="lead">
        <h2>Users</h2>
      </div>
      <div class="row">
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('What users are there?')">What users are there</a></div>
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('Can you add a user to server?', 'none')">Add user to server</a></div>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="lead">
        <h2>Players</h2>
      </div>
      <div class="row">
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('What players are there?')">What players are there</a></div>
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('Can you add a user to a channel?', 'none')">Add a player to a channel</a></div>
        <div class="col-4"><a href="javascript:void(0)" (click)="sendHowDoI('Can you remove a user from a channel?', 'none')">Remove a player from a channel</a></div>
      </div>
      <hr />
    </div>
  </div>
