<header>
  <nav [class.navbar-expand-md]="!chatObscuringView" [class.navbar-toggleable-md]="!chatObscuringView"
       [class.navbar-expand-xs]="chatObscuringView" [class.navbar-toggleable]="chatObscuringView"
       class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/']">JC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [class.d-md-inline-flex]="!chatObscuringView"
         [class.d-xs-inline-flex]="chatObscuringView"
         class="navbar-collapse collapse justify-content-end"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow flex-wrap">
        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/portfolio']">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/api" target="_blank">API</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
